@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --overlay-color-1: #87CEFA ;
    --overlay-color-2 : #2A0896;
    --anim-duration: 2s;
}

.gradient {
    opacity: 0.8;
    background: none;
}

.gradient:after,
.gradient:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.gradient:before {
    background: linear-gradient(90.51deg, var(--overlay-color-2) 3.78%, var(--overlay-color-1) 96.65%);
    animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
}

.gradient:after {
    background: linear-gradient(90.51deg, var(--overlay-color-1) 3.78%, var(--overlay-color-2) 96.65%);
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
}

@keyframes OpacityAnim {
    0%{opacity: 1.0}
    100%{opacity: 0.0}
}
.gradient__blue {
    background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
}